<ngx-spinner type="pacman"><p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class = "container col-md-6 ">
    <div class="card">
      <div class="card-header">
        <h3>Editar Reunión</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="datos" (ngSubmit)="Guardar($event)">
          <div class="form-group">
            <label for="">Fecha:</label>
            <input class="form-control datetimepicker" placeholder="Seleccione una fecha" formControlName="fecha" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text"/>
          </div>
          <div class="form-group">
            <label for="">Hora:</label>
            <input type="time" class="form-control" formControlName="hora" value="10">
          </div>
          <div class="form-group">
            <label for="">Usuario:</label>
            <select class="form-control" data-toggle="select" title="Simple select" formControlName="usuario">
              <option *ngFor="let usuario of usuarios" value="{{usuario.idusuario}}" >{{usuario.usuario}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Cliente:</label>
            <select class="form-control" data-toggle="select" title="Simple select" formControlName="cliente">
              <option *ngFor="let usuario of usuarios" value="{{usuario.idusuario}}" >{{usuario.usuario}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            <button type="button" (click)="Cancelar()" class="btn btn-sm btn-danger">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


